header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: var(--header-height);
  width: 100%;
  background-color: var(--color-bg-primary);
  box-shadow: var(--shadow);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-accent);
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text-primary);

    a {
      font-size: 14px;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: var(--rounded);
      cursor: pointer;

      &:hover {
        color: var(--color-bg-primary);
        background-color: var(--color-text-accent);
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 24px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider::before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: var(--color-text-primary);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider::before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round::before {
      border-radius: 50%;
    }
  }
}
