<div class="page-wrapper">
  <app-welcome-section></app-welcome-section>
  <h2 class="section-title">Trending</h2>
  <section>
    <ng-container *ngIf="trendingData">
      <app-swipe-list>
        <app-media-card
          *ngFor="let show of trendingData"
          bannerUrl="{{ show.poster_path }}"
          name="{{ show.name || show.title }}"
          mediaType="{{show.media_type}}"
          id="{{show.id}}"
          releaseDate="{{show.release_date || show.first_air_date}}"
        ></app-media-card>
      </app-swipe-list>
    </ng-container>
  </section>
</div>
