/* You can add global styles to this file, and also import other style files */
:root {
  --header-height: 60px;
  --rounded: 4px;
  --shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --color-bg-primary: #3fde82;
  --color-bg-secondary: #3fde82;
  --color-text-primary: #050505;
  --color-text-secondary: #1e1e1e;
  --color-text-accent: #05386b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: 'Noto Sans JP', sans-serif;
}

html[data-theme='dark'] {
  --color-bg-primary: #050505;
  --color-bg-secondary: #1e1e1e;
  --color-text-primary: #3fde82;
  --color-text-secondary: #e2fdff;
  --color-text-accent: #34ff8f;
}

html[data-theme='light'] {
  --color-bg-primary: #3fde82;
  --color-bg-secondary: #e2fdff;
  --color-text-primary: #050505;
  --color-text-secondary: #1e1e1e;
  --color-text-accent: #05386b;
}

[hidden] {
  display: none;
}

button:focus,
input:focus {
  outline: none;
}

.page-wrapper {
  background-color: var(--color-bg-secondary);
  min-height: calc(100vh - var(--header-height));
  padding: 24px;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 12px;
  color: var(--color-text-secondary);
}
